@import '../../../__data__/style/colors.css';
@import '../../../__data__/style/sizes.css';
@import '../../../__data__/style//media.css';


.form {
    max-width: 544px;
    margin: 0 auto;
    padding: var(--offset-md2);
    display: flex;
    flex-direction: column;

    @media (--media-sm) {
        padding: var(--offset-md);
    }
}

.header {
    font-family: Jura;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding: 0;
}

.label {
    font-family: Jura;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    height: 37px;
    margin: 0;
    padding: var(--offset-xs) 0 0;
}

.login-field {
    margin-top: var(--offset-lg);
}

.offset-md {
    margin-top: var(--offset-md);
}

.error {
    color: var(--red-7);
}
